
<div class="row">
    <div class="device">

        <% @devices.each do |device| %>
          <form class="form well" method="post" action="/control">
              <h2><%= device.name %></h2>

              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <input type="hidden" name="device" value="<%= device.id %>" />

              <% device.attributes.each do |key, attribute| %>
                <% if attribute.type == :range %>
                  <fieldset>
                      <legend><%= attribute.name %></legend>
                      <input type="range" name="<%= key %>" min="<%= attribute.min %>" max="<%= attribute.max %>" />
                  </fieldset>
                <% elsif attribute.type == :discrete %>
                  <fieldset class="<%= attribute.horizontal ? '' : 'no-radio' %>" data-role="controlgroup" data-type="<%= attribute.horizontal ? 'horizontal' : '' %>">
                      <legend><%= attribute.name %></legend>
                      <% attribute.options.each do |option| %>
                        <label><%= option.to_s.humanize %><input type="radio" name="<%= key %>" value="<%= option %>" /></label>
                      <% end %>
                  </fieldset>
                <% else raise 'Unknown attribute type'
                end %>
              <% end %>
          </form>
        <% end %>
    </div>
    <div class="scheduling">
        <div class="well">
            <h2>Scheduling</h2>

        </div>
    </div>

</div>