
<div class="row">
    <div class="col-md-5">
        <form class="form well" method="post" action="/control">
            <h2>Heat Pump</h2>

            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="device" value="H" />

            <fieldset>
                <legend>Temperature</legend>
                <input type="range" id="temp" name="temp" min="16" max="30" />
            </fieldset>

            <fieldset id="mode" class="full-width-<%= FujitsuAC.modes.length %>" data-role="controlgroup" data-type="horizontal">
                <legend>Mode</legend>
                <% FujitsuAC.modes.each_with_index do |mode, index| %>
                  <label><%= mode.to_s.humanize %><input type="radio" name="mode" value="<%= index %>" /></label>
                <% end %>
            </fieldset>

            <fieldset id="fan" class="full-width-<%= FujitsuAC.fan_settings.length %>" data-role="controlgroup" data-type="horizontal">
                <legend>Fan</legend>
                <% FujitsuAC.fan_settings.each_with_index do |mode, index| %>
                  <label><%= mode.to_s.humanize %><input type="radio" name="fan" value="<%= index %>" /></label>
                <% end %>
            </fieldset>

            <fieldset id="state" class="full-width-2" data-role="controlgroup" data-type="horizontal">
                <legend>State</legend>
                <label>On<input type="radio" name="state" value="off" /></label>
                <label>Off<input type="radio" name="state" value="off" /></label>
            </fieldset>

        </form>

        <form class="form well" method="post" action="/control">
            <h2>Electric Blanket</h2>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="device" value="S2" />
            <fieldset id="state" class="full-width-2" data-role="controlgroup" data-type="horizontal">
                <legend>State</legend>
                <label>On<input type="radio" name="state" value="off" /></label>
                <label>Off<input type="radio" name="state" value="off" /></label>
            </fieldset>
        </form>
    </div>
    <div class="col-md-8">
        <div class="well">
            <h1>Scheduling</h1>

        </div>
    </div>

</div>