
<h1>The Dewar's Super Duper Home Automation System</h1>

<div class="row">
    <div class="col-md-6">

<h2>Heat Pump</h2>
<form class="form well" method="post" action="/control">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="device" value="H" />

    <div id="temp-slider"></div>
    <select id="temp" name="temp" class="form-control">
        <% for i in 16..30 %>
          <option value="<%= i %>"><%= i %> degrees</option>
        <% end %>
    </select>

    <div id="modes">
        <label for="mode">Mode</label>
        <% FujitsuAC.modes.each_with_index do |mode, index| %>
          <label><%= mode %><input type="radio" name="mode" value="<%= index %>" /></label>
        <% end %>


    </div>

    <select name="mode">
        <option value="0">Auto</option>
        <option value="1">Cool</option>
        <option value="2">Dry</option>
        <option value="3">Fan</option>
        <option value="4">Heat</option>
    </select>

    <select name="fan">
        <option value="0">Auto</option>
        <option value="1">High</option>
        <option value="2">Medium</option>
        <option value="3">Low</option>
        <option value="4">Quiet</option>
    </select>
    <button class="btn btn-primary" type="submit" name="message" value="1">On</button>
    <button class="btn" type="submit" name="message" value="0">Off</button>
</form>


<h2>Electric Blanket</h2>
<form class="form" method="post" action="/control">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="device" value="S2" />
    <button type="submit" name="message" value="1">On</button>
    <button type="submit" name="message" value="0">Off</button>
</form>

    </div>


</div>